form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.uppercase{
  text-transform: uppercase;
}

mat-dialog-content {
  height: 100%;
}
input[type="file"] {
  visibility: hidden;
}
.image-preview {
  max-width: 100%;

}
.image-preview img {

  max-width: 100%;
}
