<h2 mat-dialog-title *ngIf="this.edit">Edit {{this.data.lastName}}, {{this.data.firstName}} Data</h2>
<h2 mat-dialog-title *ngIf="!this.edit">{{this.data.lastName}}, {{this.data.firstName}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group  #tabGroup (selectedTabChange)="tabChanged($event)">
    <!--     =================this is a TAB========================================================== -->
    <mat-tab label="Customer Info">
    <h6 style="color: red" *ngIf="(this.edit) && (customerInfoForm.invalid)">This dissappears when Customer Info Form inputs valid!</h6>
    <form [formGroup]="customerInfoForm" *ngIf="this.edit">
      <mat-form-field color="accent">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName"required maxlength="15">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName"required maxlength="20">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" mask='(000) 000-0000' formControlName="phoneNumber">
        <mat-error>{{getPHONEErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="emailAddress" type="email">
        <mat-error>{{getEMAILErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Address</mat-label>
        <input matInput type="text" formControlName="address"required maxlength="30">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city"required maxlength="25">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>State</mat-label>
        <mat-select [formControl]="stateSelector" placeholder="PLEASE SELECT STATE">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>ZipCode</mat-label>
        <input matInput type="text" formControlName="zipCode">
        <mat-error>{{getZIPErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
    <form *ngIf="!this.edit">
        <div class="flex-container">
          <div>
            <h1 mat-dialog-title>{{ this.data.firstName }} {{ this.data.lastName }}</h1>
          </div>
        </div>
        <div class="flex-container">
            <h6>Customer ID</h6>
            <p >{{ this.data.customerId }}</p>
        </div>
        <div class="flex-container">
          <h6>Phone Number</h6>
          <p >{{ this.data.phoneNumber }}</p>
        </div>
        <div class="flex-container">
            <h6>Email Address</h6>
            <p >{{ this.data.emailAddress }}</p>
        </div>
         <div class="flex-container">
          <h6>Street Address</h6>
          <p >{{ this.data.address }}</p>
        </div>
        <div class="flex-container">
          <h6>City</h6>
          <p >{{ this.data.city }}</p>
        </div>
        <div class="flex-container">
          <h6>State</h6>
          <p >{{ this.data.state }}</p>
        </div>
        <div class="flex-container">
          <h6>Zipcode</h6>
          <p >{{ this.data.zipCode }}</p>
        </div>
      </form>
    </mat-tab>
    <!--     =================this is a TAB========================================================== -->
    <mat-tab label="Customer Vehicles">
    <h6 style="color: red" *ngIf="(this.edit || this.addVehicle) && (customerVehicleForm.invalid)">This dissappears when Customer Vehicle Form inputs valid!</h6>
      <form [formGroup]="customerVehicleForm" *ngIf="this.edit">
        <div class="flex-container">
            <h6>Vehicle VIN</h6>
            <p >{{ vehicleSelector.value?.carvin | uppercase }}</p>
        </div>
        <mat-form-field color="accent">
        <mat-label>Vehicle Year</mat-label>
        <input matInput type="text" formControlName="vehicleYear" required minlength="4" required maxlength="4">
        <mat-error>{{getYEARErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Vehicle Make</mat-label>
        <input matInput type="text" formControlName="vehicleMake"required maxlength="25">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Vehicle Model</mat-label>
        <input matInput type="text" formControlName="vehicleModel"required maxlength="15">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Vehicle Color</mat-label>
        <input matInput type="text" formControlName="vehicleColor"required maxlength="15">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Vehicle Details</mat-label>
        <input matInput type="text" formControlName="vehicleDetails"required maxlength="20">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Vehicle Price Sold</mat-label>
        <input matInput type="text" formControlName="vehiclePriceSold">
        <mat-error>{{getPRICEErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && customerVehicleForm.get('vehicleImage').valid">
        <img [src]="imagePreview" [alt]="customerVehicleForm.value.vehicleModel">
      </div>
    </form>
    <form *ngIf="!this.edit && !this.addVehicle">
      <mat-select [formControl]="vehicleSelector" placeholder="PLEASE SELECT CUSTOMER VEHICLE">
        <mat-option *ngFor="let car of cars" [value]="car">
        {{this.car?.make}} {{this.car?.model}}
        </mat-option>
      </mat-select>
        <div class="flex-container">
          <div align="center">
            <h6>{{ vehicleSelector.value?.make }} {{ vehicleSelector.value?.model}}</h6>
              <div class="image-preview">
                <img [src]="vehicleSelector.value?.carPic || ''">
              </div>
          </div>
          <div>
            <h1 mat-dialog-title>{{ vehicleSelector.value?.year }} {{ vehicleSelector.value?.make }} {{ vehicleSelector.value?.model }}</h1>
          </div>
        </div>
        <div class="flex-container">
          <h6>Vehicle Price Sold</h6>
          <p >{{ vehicleSelector.value?.pricePaid | currency }}</p>
        </div>
          <div class="flex-container">
          <h6>Vehicle VIN</h6>
          <p >{{ vehicleSelector.value?.carvin | uppercase }}</p>
        </div>
        <div class="flex-container">
          <h6>Vehicle Color</h6>
          <p >{{ vehicleSelector.value?.color }}</p>
        </div>
        <div class="flex-container">
          <h6>Vehicle Detail</h6>
          <p >{{ vehicleSelector.value?.details }}</p>
        </div>
      </form>
      <form [formGroup]="addCustomerVehicleForm" *ngIf="this.addVehicle && tabIndex==1">
          <div class="flex-container">
              <h6>Customer ID</h6>
              <p >{{ this.data.customerId }}</p>
          </div>
          <mat-form-field color="accent">
            <mat-label>Vehicle VIN</mat-label>
            <input matInput type="text" class="uppercase" formControlName="vehicleId" required minlength="17" required maxlength="17" required pattern="[A-Za-z0-9]*">
            <mat-error>{{getVINErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Year</mat-label>
            <input matInput type="text" formControlName="vehicleYear" required minlength="4" required maxlength="4">
            <mat-error>{{getYEARErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Make</mat-label>
            <input matInput type="text" formControlName="vehicleMake"required maxlength="25">
            <mat-error>{{getGENErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Model</mat-label>
            <input matInput type="text" formControlName="vehicleModel"required maxlength="15">
            <mat-error>{{getGENErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Color</mat-label>
            <input matInput type="text" formControlName="vehicleColor"required maxlength="15">
            <mat-error>{{getGENErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Details</mat-label>
            <input matInput type="text" formControlName="vehicleDetails"required maxlength="20">
            <mat-error>{{getGENErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Vehicle Price Sold</mat-label>
            <input matInput type="text" formControlName="vehiclePriceSold">
            <mat-error>{{getPRICEErrorMessage()}}</mat-error>
          </mat-form-field>
          <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
              <input type="file" #filePicker (change)="addOnImagePicked($event)">
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && addCustomerVehicleForm.get('vehicleImage').valid">
            <img [src]="imagePreview" [alt]="addCustomerVehicleForm.value.vehicleModel">
          </div>
        </form>
    </mat-tab>
    <!--     =================this is a TAB========================================================== -->
    <mat-tab label="Customer Service Records">
        <h6 style="color: red" *ngIf="(this.edit || this.addRecord) && (customerServiceRecordForm.invalid )">This dissappears when Service Record Form inputs valid!</h6>
        <form [formGroup]="customerServiceRecordForm" *ngIf="this.edit">
        <div class="flex-container">
            <h6>Customer ID</h6>
            <p >{{ this.data.customerId }}</p>
        </div>
        <div class="flex-container">
            <h6>Vehicle VIN</h6>
            <p >{{ this.recordSelector?.value.carvin | uppercase }}</p>
        </div>
        <mat-form-field color="accent">
          <mat-label>Mileage</mat-label>
          <input matInput type="text" formControlName="mileage" type="number">
          <mat-error>{{getMILEAGEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Service Performed</mat-label>
          <input matInput type="text" formControlName="servicePerformed"required maxlength="25">
          <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Service Date</mat-label>
          <input matInput type="text" formControlName="serviceDate" type="date">
          <mat-error>{{getDATEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Date Returned</mat-label>
          <input matInput type="text" formControlName="dateReturned" type="date">
          <mat-error>{{getDATEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Mechanic</mat-label>
          <input matInput type="text" formControlName="mechanic"required maxlength="15">
          <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Service Notes</mat-label>
          <input matInput type="text" formControlName="serviceNotes"required maxlength="25">
          <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Service Price</mat-label>
          <input matInput type="text" formControlName="servicePrice">
          <mat-error>{{getPRICEErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
        <mat-label>Payment Received</mat-label>
        <mat-select formControlName="paymentReceived">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let payStatus of payStatus" [value]="payStatus">{{payStatus}}</mat-option>
        </mat-select>
        <mat-error>{{getGENErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
      <form *ngIf="!this.edit && !this.addRecord">
          <mat-select [formControl]="recordSelector" placeholder="PLEASE SELECT VEHICLE FROM CUSTOMER VEHICLES TAB FIRST">
              <mat-option *ngFor="let filteredRecord of filteredRecords" [value]="filteredRecord">
              {{this.filteredRecord?.date}}
              </mat-option>
            </mat-select>
          <div class="flex-container">
              <h6>Customer ID</h6>
              <p >{{ recordSelector.value?.custID }}</p>
          </div>
          <div class="flex-container">
              <h6>Vehicle VIN</h6>
              <p >{{ recordSelector.value?.carvin | uppercase }}</p>
          </div>
          <div class="flex-container">
              <h6>Mileage</h6>
              <p >{{ recordSelector.value?.miles }}</p>
          </div>
          <div class="flex-container">
            <h6>Service Performed</h6>
            <p >{{ recordSelector.value?.service }}</p>
          </div>
          <div class="flex-container">
              <h6>Service Date</h6>
              <p >{{ recordSelector.value?.date}}</p>
          </div>
          <div class="flex-container">
            <h6>Date Returned</h6>
            <p >{{ recordSelector.value?.returnDate }}</p>
          </div>
          <div class="flex-container">
              <h6>Mechanic</h6>
              <p >{{ recordSelector.value?.mechanic }}</p>
          </div>
          <div class="flex-container">
            <h6>Notes:</h6>
            <p >{{ recordSelector.value?.note }}</p>
          </div>
          <div class="flex-container">
            <h6>Service Price</h6>
            <p >{{ recordSelector.value?.price | currency }}</p>
          </div>
          <div class="flex-container">
              <h6>Payment Received</h6>
              <p >{{ recordSelector.value?.payment }}</p>
          </div>
        </form>
        <form [formGroup]="addCustomerServiceRecordForm" *ngIf="this.addRecord && tabIndex==2">
            <div class="flex-container">
                <h6>Customer ID</h6>
                <p >{{ this.data.customerId }}</p>
            </div>
            <div class="flex-container">
                <h6>Vehicle VIN</h6>
                <p >{{ this.vehicleSelector?.value.carvin }}</p>
            </div>
            <mat-form-field color="accent">
              <mat-label>Mileage</mat-label>
              <input matInput type="text" formControlName="mileage" type="number">
              <mat-error>{{getMILEAGEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Service Performed</mat-label>
              <input matInput type="text" formControlName="servicePerformed"required maxlength="25">
              <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Service Date</mat-label>
              <input matInput type="text" formControlName="serviceDate" type="date">
              <mat-error>{{getDATEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Date Returned</mat-label>
              <input matInput type="text" formControlName="dateReturned" type="date">
              <mat-error>{{getDATEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Mechanic</mat-label>
              <input matInput type="text" formControlName="mechanic"required maxlength="15">
              <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Service Notes</mat-label>
              <input matInput type="text" formControlName="serviceNotes"required maxlength="25">
              <mat-error>{{getSERVICEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Service Price</mat-label>
              <input matInput type="text" formControlName="servicePrice">
              <mat-error>{{getPRICEErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
            <mat-label>Payment Received</mat-label>
            <mat-select formControlName="paymentReceived">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let payStatus of payStatus" [value]="payStatus">{{payStatus}}</mat-option>
            </mat-select>
            <mat-error>{{getGENErrorMessage()}}</mat-error>
            </mat-form-field>
          </form>
      </mat-tab>
    <!--     =================this is END TAB========================================================== -->
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions *ngIf="this.edit" align="end">
  <button mat-raised-button type="submit" color="accent" [disabled]="customerInfoForm.invalid || customerVehicleForm.invalid || customerServiceRecordForm.invalid" (click)="saveEditedCustomerALL() && unSetEdit()">SAVE ALL</button>
  <button mat-raised-button type="submit" color="accent" *ngIf="customerInfoForm.valid && tabIndex==0"(click)="saveEditedCustomerONLY() && unSetEdit()">SAVE CUSTOMER</button>
  <button mat-raised-button type="submit" color="accent" *ngIf="customerVehicleForm.valid && tabIndex==1"(click)="saveEditedCustomerVehicleONLY() && unSetEdit()">SAVE VEHICLE</button>
  <button mat-raised-button type="submit" color="accent" *ngIf="customerServiceRecordForm.valid && tabIndex==2"(click)="saveEditedCustomerServiceRecordONLY() && unSetEdit()">SAVE SERVICE RECORD</button>

  <button mat-raised-button mat-dialog-close color="warn" *ngIf="this.edit && tabIndex==0" (click)="onDelete(this.data.id)">DELETE CUSTOMER</button>
  <button mat-raised-button mat-dialog-close color="warn" *ngIf="this.edit && tabIndex==1" (click)="onVehicleDelete(); unSetEdit();">DELETE VEHICLE</button>
  <button mat-raised-button mat-dialog-close color="warn" *ngIf="this.edit && tabIndex==2" (click)="onRecordDelete(); unSetEdit();">DELETE RECORD</button>
  <button mat-raised-button color="primary" (click)="unSetEdit()">CANCEL</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="!this.edit && !this.addVehicle && !this.addRecord" align="end">
  <button mat-raised-button type="submit" color="accent" (click)="setEdit()">EDIT ALL</button>
  <button mat-raised-button mat-dialog-close color="primary" (click)="close()">CANCEL</button>
  <button mat-raised-button type="submit" color="accent" [disabled]="tabIndex!=1" (click)="setAddVehicle(); addCustomerVehicle()">ADD VEHICLE</button>
  <button mat-raised-button type="submit" color="accent" [disabled]="tabIndex!=2" (click)="setAddRecord(); addCustomerVehicleServiceRecord()">ADD RECORD</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="this.addVehicle && tabIndex==1" align="end">
    <button mat-raised-button type="submit" color="accent" [disabled]="customerVehicleForm.invalid"(click)="saveAddedCustomerVehicle(); unSetAddVehicle();">SAVE</button>
    <button mat-raised-button (click)="unSetEdit(); unSetAddVehicle();" color="primary">CANCEL</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="this.addRecord && tabIndex==2" align="end">
    <button mat-raised-button type="submit" color="accent" [disabled]="customerServiceRecordForm.invalid"(click)="saveAddedCustomerVehicleServiceRecord(); unSetAddRecord();">SAVE</button>
    <button mat-raised-button (click)="unSetEdit(); unSetAddRecord();" color="primary">CANCEL</button>
</mat-dialog-actions>
