<div class="d-flex flex-row justify-content-between align-items-center p-2">
  <img src="../../assets/images/logo_transparent.png" style="width: 15rem; height: 15rem;">
  <div class="d-flex flex-column align-items-center">
    <h2>Company Name</h2>
    <span><a href="home">       HOME       </a>|<a href="inventory">       INVENTORY       </a>|<a href="time-clock">       TIME CLOCK       </a>|<a href="records">       CUSTOMER RECORDS       </a></span>
  </div>
  <button mat-raised-button color="accent" (click)="onLogout()">LOGOUT</button>
</div>
