<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-2 p-0">
     <a mat-button [routerLink]="['/home']" routerLinkActive="mat-accent bold">
      <img class="float-right" src="../../assets/images/logo_transparent.png">
    </a>
    </div>
    <div class="col-8">
      <h1>{{ companyName }}</h1>
      <mat-divider></mat-divider>
      <div class="row justify-content-center align-items-center">
        <a mat-button [routerLink]="['/home']" routerLinkActive="mat-accent bold" >HOME</a>
        <a mat-button [routerLink]="['/inventory']" routerLinkActive="mat-accent bold" >VEHICLES</a>
        <a mat-button [routerLink]="['/parts']" routerLinkActive="mat-accent bold" >PARTS</a>
        <a mat-button [routerLink]="['/records']" routerLinkActive="mat-accent bold" >CUSTOMER RECORDS</a>

      </div>
    </div>
    <div class="col-2">
      <button mat-raised-button class="float-left" type="submit" color="primary" (click)="onLogout()">LOGOUT</button>
    </div>
  </div>
</div>
