img {
  width: 15rem;
  height: 15rem;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: #1972a4 !important;
}

a {
  font-size: 1.4rem;
  padding: 1rem;
  color: #1972a4 !important;
}

.active {
  color: red;
}
