img {
  width: 15rem;
  height: 15rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: #1972a4 !important;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem;
}

.bold {
  font-weight: bold;
}
