<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-2">
      <img src="../../assets/images/logo_transparent.png">
    </div>
    <div class="col-8">
      <h1>Company Name</h1>
      <div class="row justify-content-center align-items-center">
        <a [routerLink]="['/home']" routerLinkActive="active" >HOME</a>
        <a [routerLink]="['/inventory']" routerLinkActive="active" >INVENTORY</a>
        <a [routerLink]="['/time-clock']" routerLinkActive="active" >TIME CLOCK</a>
        <a [routerLink]="['/records']" routerLinkActive="active" >CUSTOMER RECORDS</a>
      </div>
    </div>
    <div class="col-2">
      <button mat-raised-button type="submit" color="primary" (click)="onLogout()">LOGOUT</button>
    </div>
  </div>
</div>
