<!-- Insert Code for LH Calculator -->
<!-- Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- End of Insert-->

<div class = "calc_container">
    <div class = "lease_calc left_col">
        <div class="item_div">
            <div class = "acq-dropdown">
            <label>Select Make <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Select to auto-populate the make's acquisition fee, disposition fee, and MSD/discount programs."></i>
:</label>
            <select id="make_dropdown">
                <option value="none">Select Make</option>
            </select>
            </div>
        </div>
        <div class="item_div">
            <label>MSRP: </label>
            <span class="unit">$</span><input type="tel" class="rmVal" id="msrp" value="30000">
        </div>

        <div class="section_div"> NEGOTIABLE
        </div>
        <div class="calc_divider">
        </div>

        <div class="item_div">
            <div>
                <label>Sales Price: </label>
                <span class="unit">$</span><input type="tel" class="rmVal" id="sales_price" value="28000">
            </div>
            <div class="exp_text">
                <span id="off_msrp"></span>% off MSRP
            </div>
        </div>


        <div class="item_div">
            <div>
                <label>Money Factor <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Some dealers mark up the MF."></i>: </label>
                <span class="unit">&nbsp;</span><input type="number" id="mf" value=".00100">
            </div>
            <div class="exp_text">
                APR: <span id="apr"></span>%
            </div>
<!--
            <div class="exp_text hide" id="mb_autopay">
                <input type="checkbox" id="mb_autopay_check"> Enroll in Mercedes-Benz Autopay to lower the MF by 0.00010
            </div>
-->
            <div class="exp_text hide" id="gm_options">
                <input type="checkbox" id="gm_onePay"> GM One-pay Lease: Pay everyting upfront to lower the MF by 0.00042 (24 mos.) or by 0.00073 (36 mos.).<br>
                <input type="checkbox" id="gm_acqWaiver"> GM Acquisition Waiver: waive the acquisition fee by raising the MF by 0.00075.
            </div>
        </div>

        <div class="item_div hide" id="new_mf_gm">
            <div>
                <label>Adjusted Money Factor: </label>
                <span class="new_mf" id="new_mf_gm_num"></span>
            </div>
            <div class="label_space"></div>
            <div class="exp_text_center">APR:<span id="new_gm_apr"></span>%</div>
        </div>

        <div class="item_div hide" id="msd_div">
            <div>
                <label>Multiple Security Deposit (MSD):</label>
                <select id="msd">
                    <option value="0"selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8" id ="8">8</option>
                    <option value="9" id ="9">9</option>
                    <option value="10" id ="10">10</option>
                </select>
                <div class="exp_text" id="max_msd"></div>
            </div>
        </div>

        <div class="item_div hide" id="new_mf_div">
            <div>
                <label>Money Factor after MSD: </label>
                <div class="new_mf" id="new_mf"></div>
            </div>
            <div class="label_space"></div>
            <div class="exp_text_center">
              APR: <span id="newApr"></span>%
            </div>
        </div>

        <div class="item_div">
            <div>
            <label>Acquisition<br> Fee <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Some brands, such as Mercedes-Benz, allow dealers to mark up the acquisition fee."></i>:</label>
            <span class="unit">$</span><input type="tel" id="acq_fee" value="595">
            </div>
            <div class="exp_text" id="acqFee_check_txt">
                <input type="checkbox" id="acqFee_check"> I want to pay my acquisition fee upfront.
            </div>
        </div>



        <div class="section_div"> CONFIGURABLE
        </div>
        <div class="calc_divider">
        </div>

        <div class="item_div">
            <div>
                <label>Miles/year <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Adjusting the miles changes the residual (%)."></i>:</label>
                <select id="miles">
                    <option value="10000">10,000</option>
                    <option value="12000"selected>12,000</option>
                    <option value="15000">15,000</option>
                </select>
            </div>
        </div>

        <div class="item_div"><label>Months: </label>
            <span class="unit">&nbsp;</span><input type="tel" class="rmVal" id="months" value="36">
        </div>

         <div class="item_div">
            <div>
                <label>Down Payment: </label>
                <span class="unit">$</span><input type="tel" id="dp" value="0" class="rmVal">
            </div>
        </div>

        <div class="item_div">
            <div>
                <label>Taxed <br>Incentives <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="e.g., cash-back offers, loyalty cash, bonus cash."></i>: </label>
                <span class="unit">$</span><input type="tel" id="taxed_inc" value="0" class="rmVal">
            </div>
        </div>
        <div class="item_div">
            <div>
                <label>Untaxed Incentives <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="e.g., manufacturer-to-dealer cash rebate or if you live in a state where customer cash rebates are not taxed."></i>:</label>
                <span class="unit">$</span><input type="tel" id="untaxed_inc" value="0" class="rmVal">
            </div>
        </div>

        <div class="item_div">
            <div>
                <label>Post-Sale<br> Rebates <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="e.g., government clean vehicle rebates, BMW CCA rebates."></i>:</label>
                <span class="unit">$</span><input type="tel" id="rebate" value="0" class="rmVal">
            </div>
        </div>

        <div class="item_div">
            <div>
                <label>Dealer Fees <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="e.g., document fee."></i>: </label>
                <span class="unit">$</span><input type="tel" class="rmVal" id="doc_fee" value="80">
            </div>
        </div>

        <div class="item_div" id="zero_driveoff_div">
            <div>
                <label>Zero Drive-Off</label>
                <input type="checkbox" id="zero_driveoff">
            </div>
        </div>

        <div class="section_div"> NON-CONFIGURABLE
        </div>
        <div class="calc_divider">
        </div>

        <div class="item_div">
            <label>Residual: </label>
            <span class="unit">&nbsp;</span><input type="tel" id="resP" class="rmVal" value="60"> <span class="unit">%</span>
            <div class="exp_text">Residual (%) at <span id="exp_miles"></span> miles/year</div>
        </div>


        <div class="item_div">
            <div>
                <label>Government <br> Fees <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="License, registration, and other government fees."></i>:</label>
                <span class="unit">$</span><input type="tel" class="rmVal" id="reg_fee" value="400">
            </div>
            <div>
                <div class="exp_text">
                </div>
            </div>
        </div>

        <div class="item_div">
            <div>
                <label>Sales Tax: </label>
                <span class="unit">&nbsp;</span><input type="tel" id="sales_tax" value="9"> <span class="unit">%</span>
            </div>
        </div>

        <div class="item_div">
            <input type="radio" name="tax_method" id="monthlyTax_radio" checked> Tax is levied on the <strong>monthly lease payment</strong> (most states).
        </div>
        <div class="item_div">
            <input type="radio" name="tax_method" id="salesPriceTax_radio"> Tax is levied upfront on the <strong>sales price</strong> (e.g. VA, GA).
        </div>
        <div class="item_div">
            <input type="radio" name = "tax_method" id="totalLeaseTax_radio"> Tax is levied upfront on the <strong>total lease payment</strong> (e.g. NY, NJ, MN).
        </div>

    </div>
    <div class="right_col lease_calc">
        <div class="result">
            <div class="item_div">
                <label>Pre-tax Monthly Payment: </label>
                <span class="bold_figure" id="moCostTxt"></span>
            </div>


            <div class="item_div">
                <div>
                    <label>Monthly Payment with Tax: </label>
                    <span class="bold_figure highlight" id="moCostTaxTxt"></span>
                </div>
            </div>
            <div class="item_div">
                <div>
                    <label>Drive-Off: </label>
                    <span class="bold_figure highlight" id="driveOffTxt"></span>
                </div>
                <div class="exp_text driveoff">
                    <span id="do_moCost_label">- First month payment: <span id="do_moCost"></span><br></span>
                    <span id="gm_onepay_label" class = "hide">- Lease payment: <span id="gm_onepay"></span><br></span>
                    <span id="do_dp_label">- Down payment: <span id="do_dp"></span><br></span>
                    <span>- Government and dealer fees: <span id="do_doc"></span><br></span>
                    <span id = "do_taxIncDp_label">- Tax on cap cost reduction and fees: <span id="do_taxIncDp"></span><br></span>
                    <span id="do_acq_label" class="hide">- Acquisition fee: <span id="do_acq"></span><br></span>
                    <span id="do_totalTax_label" class = "hide">- Total Tax: <span id="do_totalTax"></span></span>

                </div>
            </div>

            <div class="item_div msd_label">
                <div>
                    <label>Refundable MSD Payment: </label>
                    <span class="bold_figure" id="msd_span"></span>
                </div>
            </div>

            <div class="item_div">
                <div>
                    <label>Leasehackr Score: </label>
                    <span class="bold_figure highlight" id="lh_score"></span><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="The number of years it would take for the accumulated average monthly payments to exceed the MSRP. The higher the score, the better the deal."></i>
                </div>
            </div>

            <div class="item_div">
                <div>
                <label>Disposition Fee:</label>
                <span class= "bold_figure" id="dispFee">$350</span>
                <input class="hide" id="dispVal" value="350">
                </div>
            </div>

            <div class="item_div">
                <div>
                    <label>Total Lease Cost: </label>
                    <span class="bold_figure" id="totalLeaseCost"></span><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Total cost of leasing, excluding government fees because these fees may vary annually."></i>
                </div>
            </div>
        </div>
        <div class="item_div memo">
            <div>
            <label>Memo:</label>
                <textarea rows="3" id="memo"></textarea>
            </div>
        </div>
        <button id="copy_button" class="button"> Share your numbers </button>
        <div class="link_btn_text"> Copy a shareable link to clipboard</div>
        <div id="url_div" class="hide"><input id="display_url" class="link"></div>
    </div>

</div>
<script>
var acqFee = $("#acq_fee");
var miles = $("#miles");
var moCostTxt = $("#moCostTxt");
var expMiles = $("#exp_miles");
//var resP = parseFloat($("#resP").val())/100;
var salesTax = $('#sales_tax');
var salesPriceTaxRad = $('#salesPriceTax_radio');
var totalLeaseTaxRad = $('#totalLeaseTax_radio');
var driveOffTxt = $('#driveOffTxt');
var moCostTaxTxt = $('#moCostTaxTxt');
var msdMFTxt = $('#new_mf');
var msdMFDiv = $("#new_mf_div");
var msdDiv = $("#msd_div");
//var autoPayCheck = $("#mb_autopay_check");
var dispFee = $("#dispFee");
var dispVal = $("#dispVal");
var gmOptions = $("#gm_options");
var acqFeeCheck = $("#acqFee_check");
var cur_miles = miles.val();


//Groups
//Show MSD options
var msdMake = ["Mercedes-Benz","INFINITI","Lexus", "Scion", "Toyota", "Audi", "Volvo", "BMW", "MINI"];
var msd10 = ["Audi", "Mercedes-Benz", "Volvo"];
var msd9 =  ["INFINITI", "Lexus", "Scion", "Toyota"];

//MSD calculation groups
var msd_toyota = ["Lexus", "Scion", "Toyota"];
var msd_bmw = ["BMW", "MINI"];

//GM group for GM one-pay lease and GM acquisition waiver features
var gmGroup = ["Buick","Cadillac", "Chevrolet","GMC"];


//Google Spreadsheet URL
var url= "https://spreadsheets.google.com/feeds/list/1u3QPXwSRUYSmPuSsnQmgW6igrBdLf5n3vFhZUED1JLw/od6/public/values?alt=json";


//make dropdown menu
var makeDrop = $('#make_dropdown');


//parse and write url variables
var urlQueries = window.location.href;
var queryString = urlQueries.substring (urlQueries.indexOf('?')+1);
console.log("url: " + urlQueries);
console.log("queryString: " + queryString);

var inputArr = ["msrp","sales_price","months","mf","dp","doc_fee","acq_fee","taxed_inc","untaxed_inc","rebate","resP","reg_fee","sales_tax","memo"];
var checkArr = ["acqFee_check", "zero_driveoff", "monthlyTax_radio", "salesPriceTax_radio", "totalLeaseTax_radio", "gm_onePay", "gm_acqWaiver"]//"mb_autopay"

var written_url = "leasehackr.com/calculator?"


//ACTIONS

//show key values in make dropdown
$.getJSON(url, function(data){
    for(var i = 0; i<data.feed.entry.length; i++){
        var key = data.feed.entry[i].gsx$make.$t;
        var acqValue = data.feed.entry[i].gsx$acqfee.$t;
        var dispValue = data.feed.entry[i].gsx$dispfee.$t;
        makeDrop.append('<option value="'+ key + '">'+key+'</option>');

        // if (key == "Tesla") {
        //     $("#make_dropdown option[value='Tesla']").prop("selected", true);
        // }

//        $("#make_dropdown>option:eq(4)").prop("selected", true);
        makeQuery(queryString);

        if (makeDrop.val() == key){
            acqFee.val(acqValue);
            dispFee.text("$"+dispValue);
            dispVal.val(dispValue);
        }
    }
    dropdownSelection();
    parseQuery(queryString);
    calculate();

});


//Make Dropdown onChange
makeDrop.change(function(){
    $.getJSON(url, function(data){
        //pair key values for acqFee and dispFee;
        for(var i = 0; i<data.feed.entry.length; i++){
            var key = data.feed.entry[i].gsx$make.$t;
            var acqValue = data.feed.entry[i].gsx$acqfee.$t;
            var dispValue = data.feed.entry[i].gsx$dispfee.$t;
            if (makeDrop.val() == key){
                acqFee.val(acqValue);
                dispFee.text("$"+dispValue);
                dispVal.val(dispValue);
            }
        }
        dropdownSelection();
        calculate();
    });

});



//onChange Commands
$('input').change(function(){
    calculate();
//    rmVal();
});
$('#msd').change(function(){
    calculate();
});



$("#copy_button").click(function () {
    $("#url_div").show();
    writeQuery();
});

$(":input").click(function(){
    $(this).select();
});

miles.change(function(){
//    console.log("cur_miles before conversion is " + cur_miles);
//    console.log("resP before conversion is " + resP);
    var resN = parseFloat($("#resP").val());
    switch(cur_miles){
        case "12000":
            switch(miles.val()){
                case "10000":
                    $("#resP").val(Math.round(resN + 1));
                    expMiles.text("10,000");
                    calculate();
                	break;
                case "15000":
                    $("#resP").val(Math.round(resN-2));
                    expMiles.text("15,000");
                    calculate();
                	break;
            }
            break;
        case "10000":
            switch(miles.val()){
                case "12000":
                    $("#resP").val(Math.round(resN-1));
                    expMiles.text("12,000");
                	calculate();
                    break;
                case "15000":
                    $("#resP").val(Math.round(resN-3));
                    expMiles.text("15,000");
                	calculate();
                    break;
            }
            break;
        case "15000":
            switch(miles.val()){
                case "10000":
                    $("#resP").val(Math.round(resN+3));
                    expMiles.text("10,000");
                	calculate();
                    break;
                case "12000":
                    $("#resP").val(Math.round(resN+2));
                    expMiles.text("12,000");
                	calculate();
                    break;
            }
            break;
    }
    cur_miles = miles.val();
//    console.log("resP after conversion is " + resP);
//    console.log("cur_miles after conversion is " + cur_miles);

});


tooltipExe();

//FUNCTIONS

function parseQuery (queryString){
    var queryArray = queryString.split("&");//array
    var queryDict = {};
    for(var i = 0; i<queryArray.length; i++){
        var splitArray = queryArray[i].split("=");
        var queryKey = splitArray[0].replace(/amp;/g, "");
        var queryValue = splitArray[1];

        queryDict[queryKey] = queryValue;

        for (var n = 0; n<inputArr.length; n++){
            if (queryKey == inputArr[n]){
                $("#" + inputArr[n]).val(queryValue.replace(/%20/g, " ").replace(/%27/g, "'").replace(/%5C/g,"\\").replace(/%22/g,"\"").replace(/%3C/g,"<").replace(/%3E/g,">").replace(/%25/g,"%").replace(/%7B/g,"{").replace(/%7D/g,"}").replace(/%0D/g, "; "));
            }
        }
        for (var y = 0; y<checkArr.length; y++){
            if (queryKey == checkArr[y]){
                $("#" + checkArr[y]).prop("checked", queryValue);
            }
        }
        if (queryKey == "miles"){
            $("#miles").val(queryValue);
        }
        if (queryKey == "msd"){
            $("#msd").val(queryValue);
            console.log("msd has been parsed")
        }
    }
}

function makeQuery (queryString) {
    var queryArray = queryString.split("&");//array
    var queryDict = {};
    for(var i = 0; i<queryArray.length; i++){
        var splitArray = queryArray[i].split("=");
        var queryKey = splitArray[0];
        var queryValue = splitArray[1];

        queryDict[queryKey] = queryValue;

        if (queryKey == "make"){
            $("#make_dropdown").val(queryValue);
        }
    }
}

function writeQuery () {
    written_url += "make=" + $("#make_dropdown option:selected").val() +"&";
    for (var n=0; n<inputArr.length; n++){

        console.log($("#"+inputArr[n]).val());

        written_url += inputArr[n]+"="+$("#"+inputArr[n]).val().replace(/\\/g, "%5C").replace(/\%/g, "%25").replace(/\{/g, "%7B").replace(/\}/g, "%7D").replace(/\n/g, "%0D")+"&";
    }
    for (var y=0; y<checkArr.length; y++){
        if ($("#"+checkArr[y]).is(":checked")){
            written_url += checkArr[y]+"=true"+"&";
        }
    }
    written_url += "miles=" + $("#miles option:selected").val() +"&";
    written_url += "msd=" + $("#msd option:selected").val();

    console.log(written_url);

    $("#display_url").val(written_url).select();
    document.execCommand("copy");
    written_url = "leasehackr.com/calculator?"
}


//Show and Refresh MSD Options
function showMsdDiv(){
    $("#msd option[value='0']").prop("selected", true);
    $("#8,#9,#10").show();
    msdDiv.show();
    msdMFDiv.show();
}

function dropdownSelection () {
        //MSD options
        if ($.inArray(makeDrop.val(), msd10) !== -1){
            showMsdDiv();
            $("#max_msd").text("Max. MSD: 10");
            //benz autopay display
//            $("#mb_autopay").show();
//        } else {
//            $("#mb_autopay").hide();
//            $("mb_autopay_check").prop("checked", false);
        }

        if ($.inArray(makeDrop.val(), msd9) !== -1){
            showMsdDiv();
            $("#max_msd").text("Max. MSD: 9");
            $("#10").hide();
        }

         if ($.inArray(makeDrop.val(), msd_bmw) !== -1){
             showMsdDiv();
             $("#max_msd").text("Max. MSD: 7, for returning BMW customers enrolled in MSD programs only.");
             $("#8,#9,#10").hide();
         }

        //if the make does not belong to one of the MSD makes, then hide the MSD
        if ($.inArray(makeDrop.val(), msdMake) == -1){
            msdMFDiv.hide();
            msdDiv.hide();
            $("#msd option[value='0']").prop("selected", true);
//            $("mb_autopay_check").prop("checked", false);
            $(".msd_label").hide();
        } else {
            $(".msd_label").show();
        }

        //Tesla Paying acquisition fee upfront
        if (makeDrop.val() == "Tesla") {
//            acqFeeCheck.prop('checked', true);
            $("#acqFee_check_txt").hide();
            $("#mf").val(.00180);
            $('#doc_fee').val(0);
        } else {
//            acqFeeCheck.prop("checked", false);
            $("#acqFee_check_txt").show();
        }

        //GM Group
        if ($.inArray(makeDrop.val(), gmGroup) !==-1){
            gmOptions.show();
        } else {
            gmOptions.hide();
            $("#new_mf_gm").hide();
            $('#gm_onePay').prop('checked', false);
            $("#gm_acqWaiver").prop("checked", false);
        }
}


//calculate function
function calculate() {

    //Input definitions
    var msrp = parseFloat($("#msrp").val().replace(",",""));
    var salesPrice = parseFloat($("#sales_price").val().replace(",",""));
    var incUntaxed = parseFloat($("#untaxed_inc").val().replace(",",""));
    var incTaxed = parseFloat($("#taxed_inc").val().replace(",",""));
    var dp = parseFloat($("#dp").val().replace(",",""));
    var resP = parseFloat($("#resP").val())/100;
    var mf = parseFloat($("#mf").val());
    var mo = parseFloat($("#months").val());
    var docFee = parseFloat($('#doc_fee').val().replace(",",""));

    var regFee = parseFloat($('#reg_fee').val().replace(",",""));
    var salesTaxN = parseFloat(salesTax.val())/100;
    var msd = parseFloat($("#msd option:selected").val());
    var rebate = parseFloat($("#rebate").val().replace(",",""));
    //Off MSRP
    var offMSRP = ((msrp-salesPrice)/msrp)*100;

    $("#off_msrp").text((Math.round(offMSRP)).toFixed(0));

    //Calculation definitions
    //Calculation of monthly payment incl. tax
    var finFee;
    var monPmt =0;
    var monPmtTax;
    var mfMSD = 0; //MF after msd; default 0
    var totalMSDPmt = 0;

    //Benz and INFINITI MSD payment calculation based on pre-MSD monthly payment
    var finFee_noMSD;
    var monPmt_noMSD;
    var monPmtTax_noMSD;

    //Calculation of Net Cap Cost
    var netCapCost;
    var resN = msrp*resP;
    var deprFee;

    //tax
    var tax_driveoff;
    var taxCapRedFee;
    var taxSalesPrice = (salesPrice-incUntaxed)*salesTaxN; //total tax based on sales price
    var taxLeasePmt = monPmt*mo*salesTaxN + taxCapRedFee; //total tax if taxed on total lease payment

    //Drive-off
    var docRegFee = docFee + regFee;
    var driveoff_fees = tax_driveoff + docRegFee;
    var driveoff;
    var totalLeaseCost;

    function taxCalc () {
        taxCapRedFee = (dp + incTaxed + docFee)*salesTaxN;
        taxLeasePmt = monPmt*mo*salesTaxN + taxCapRedFee;
        if (salesPriceTaxRad.is(':checked')){
            tax_driveoff = taxSalesPrice;
        } else if (totalLeaseTaxRad.is(':checked')){
            tax_driveoff = taxLeasePmt;
        } else {
            tax_driveoff = taxCapRedFee;
        }
        driveoff_fees = tax_driveoff + docRegFee;
    }

    //calculating net cap cost

    function acqFeeCheckFn () {
      //if acquisition fee is paid upfront
	    if (acqFeeCheck.is(':checked')){
	        netCapCost = salesPrice - incUntaxed -incTaxed - dp ;
            $("#do_acq_label").show();
	    } else { //general equation for NCC and deprFee
	        netCapCost = salesPrice - incUntaxed -incTaxed - dp + parseFloat(acqFee.val());
            $("#do_acq_label").hide();
	    }
    }

    function standard () {
        //Depreciation Fee Calculation
        deprFee = (netCapCost - resN)/mo;

        //Finance Fee Calculation
        finFee = (netCapCost + resN)*mfMSD;

        //Monthly Payment with MSD excl. tax
        monPmt = finFee + deprFee;

        //Monthly Payment with MSD incl. tax
        monPmtTax = monPmt*(1+salesTaxN);
        if ($("#monthlyTax_radio").is(':checked')){
            monPmtTax = monPmt*(1+salesTaxN);
        } else {
            monPmtTax = monPmt;
        }

    }

    function zero_monthly () {
         //Depreciation Fee Calculation
        deprFee = (netCapCost - resN)/(mo-1);

        //Finance Fee Calculation
        finFee = (netCapCost + resN)*mfMSD;

        //Monthly Payment with MSD excl. tax
        monPmt = finFee + deprFee;

        //Monthly Payment with MSD incl. tax
        monPmtTax = monPmt*(1+salesTaxN);
        if ($("#monthlyTax_radio").is(':checked')){
            monPmtTax = monPmt*(1+salesTaxN);
        } else {
            monPmtTax = monPmt;
        }
    }

    function calcMonCost () {
        acqFeeCheckFn ();
        standard ();
        taxCalc();
        driveoffCalc();
        if ($("#zero_driveoff").is(':checked')){ //if zero driveoff, then acquisition is not paid upfront and dp = 0
            dp=0;
            acqFeeCheck.prop("checked", false);
            taxCalc();
            netCapCost = salesPrice - incUntaxed -incTaxed + parseFloat(acqFee.val()) + driveoff_fees;
            driveoff=0;
            zero_monthly();

//            $("#acqFee_check_txt").hide();
            $("#do_acq_label").hide();
            $("#do_dp_label").hide();
            $("#do_moCost_label").hide();

        } else {
//            $("#acqFee_check_txt").show();
            $("#do_dp_label").show();
            $("#do_moCost_label").show();
        }


    }

    //MF stays positive after MF deduction
    function positiveMF () {
    	if (mfMSD < 0){
            mfMSD = 0.00001;
        }
    }


    function driveoffCalc () {
        if (salesPriceTaxRad.is(':checked')){
            driveoff = driveoff_fees + monPmt + dp;
            //exp if taxed on sales price upfront
            $("#do_totalTax_label").show();
            $("#do_taxIncDp_label").hide();
            $("#do_totalTax").text("$"+ (Math.round(taxSalesPrice)).toLocaleString());


        } else if (totalLeaseTaxRad.is(':checked')){
            driveoff = driveoff_fees + monPmt + dp;

            $("#do_taxIncDp_label").hide();
            $("#do_totalTax_label").show();
            $("#do_totalTax").text("$"+ (Math.round(taxLeasePmt)).toLocaleString());


        } else {
            driveoff = driveoff_fees + monPmtTax + dp;

            //taxes
            $("#do_taxIncDp_label").show();
            $("#do_totalTax_label").hide();

        }

    }




    //Begin calculating monthly payment
    //Benz
    if (makeDrop.val() == "Mercedes-Benz") {
        //new MF after checkbox
        mfMSD = mf-msd*0.00007;

        positiveMF();

        calcMonCost();

        //Total MSD Payment (MSD is calculated on pre-MSD pirce)
        finFee_noMSD = (netCapCost+resN)*mf;
        monPmt_noMSD = finFee_noMSD + deprFee;
        if ($("#monthlyTax_radio").is(':checked')){
            monPmtTax_noMSD = monPmt_noMSD*(1+salesTaxN);
        } else {
            monPmtTax_noMSD = monPmt_noMSD;
        }

        totalMSDPmt = Math.ceil(monPmtTax_noMSD/50)*50*msd;

        //Benz Autopay
//        if (autoPayCheck.is(':checked')){
//            //new MF after checkbox
//            mfMSD = mf-msd*0.00007-0.00010;
//
//            positiveMF();
//
//            calcMonCost();
//        }
    //Volvo
    } else if (makeDrop.val() == "Volvo"){
        //new MF after checkbox
        mfMSD = mf-msd*0.00005;

        positiveMF();

        calcMonCost();

        //Total MSD Payment (MSD is calculated on pre-MSD pirce)
        finFee_noMSD = (netCapCost+resN)*mf;
        monPmt_noMSD = finFee_noMSD + deprFee;
        if ($("#monthlyTax_radio").is(':checked')){
            monPmtTax_noMSD = monPmt_noMSD*(1+salesTaxN);
        } else {
            monPmtTax_noMSD = monPmt_noMSD;
        }

        totalMSDPmt = Math.ceil(monPmtTax_noMSD/25)*25*msd;

    //BMW, MINI
    } else if ($.inArray(makeDrop.val(), msd_bmw) !== -1){

        mfMSD = mf-msd*0.00005;

        positiveMF();

        calcMonCost();

        //MSD payment calculation

        totalMSDPmt = Math.ceil(monPmtTax/50)*50*msd;


    //msd_toyota = Lexus, Scion, Toyota
    } else if ($.inArray(makeDrop.val(), msd_toyota) !== -1){
    	mfMSD = mf-msd*0.00008;

    	positiveMF();

        calcMonCost();

        //Total MSD Payment
        totalMSDPmt = Math.ceil(monPmtTax/25)*25*msd;

    //Infiniti MSD
    } else if (makeDrop.val() == "INFINITI"){
        //new MF after MSD
        mfMSD = mf-msd*0.00010;

        positiveMF();

        calcMonCost();


        //Total MSD Payment (MSD is calculated on pre-MSD pirce)
        finFee_noMSD = (netCapCost+resN)*mf;
        monPmt_noMSD = finFee_noMSD + deprFee;
        if ($("#monthlyTax_radio").is(':checked')){
            monPmtTax_noMSD = monPmt_noMSD*(1+salesTaxN);
        } else {
            monPmtTax_noMSD = monPmt_noMSD;
        }

        totalMSDPmt = Math.ceil(monPmtTax_noMSD/50)*50*msd;

    //Tesla
    } else if (makeDrop.val() == "Tesla"){
        acqFeeCheck.prop('checked', true);
        calcMonCost ();
        //new residual
        var teslaRes = resN + 7500;
        var teslaDeprFee = (netCapCost - teslaRes)/mo;
        var teslaFinFee = (netCapCost + teslaRes)*mf;
        var teslaMonCost = teslaDeprFee + teslaFinFee;
        var teslaMonCostTax = teslaMonCost*(1+salesTaxN);

        monPmt = teslaMonCost;
        monPmtTax = teslaMonCostTax;

    //GM one-pay lease and/or acq fee waiver
    }  else if ($("#gm_onePay").is(':checked')){
        acqFeeCheck.prop("checked", false);
        $("#acqFee_check_txt").hide();
        $("#zero_driveoff").prop("checked", false);
        $("#zero_driveoff_div").hide();


        if (mo>=36){
            mfMSD = mf-0.00073;

            positiveMF();
        } else {
            acqFeeCheck.prop("checked", false);

            mfMSD = mf-0.00042;

            positiveMF();
        }


        //if GM one-pay AND acq fee waiver are checked
        if ($("#gm_acqWaiver").is(":checked")){
        	acqFee.val(0);
            mfMSD = mfMSD+0.00075;
            netCapCost = salesPrice - incUntaxed - dp -incTaxed;
            deprFee = (netCapCost - resN)/mo;

        } else {
        	acqFee.val(650);
            netCapCost = salesPrice - incUntaxed + parseFloat(acqFee.val()) - dp -incTaxed;
            deprFee = (netCapCost - resN)/mo;
        }

        $("#new_mf_gm").show();
        $("#new_mf_gm_num").text((mfMSD).toFixed(5));
        $("#new_gm_apr").text(Math.round(mfMSD*2400*100)/100);

        calcMonCost();

    //GM acq fee waiver only
    } else if ($("#gm_acqWaiver").is(':checked')){
        mfMSD = mf +0.00075;
        acqFee.val(0);
        netCapCost = salesPrice - incUntaxed - dp -incTaxed;
        deprFee = (netCapCost - resN)/mo;
        $("#acqFee_check_txt").hide();
        $("#new_mf_gm").show();
        $("#new_mf_gm_num").text((mfMSD).toFixed(5));
        $("#new_gm_apr").text(Math.round(mfMSD*2400*100)/100);
        calcMonCost();

    } else if (($.inArray(makeDrop.val(), gmGroup) !==-1) && ($("#gm_acqWaiver").is(":checked") == false)){ //if it is a GM group but the acqWaiver is unchecked
        mfMSD = mf;
        acqFee.val(650);

        calcMonCost();

        $("#new_mf_gm").hide();
        $("#acqFee_check_txt").show();
        $("#zero_driveoff_div").show();

    //Default (Audi)
    } else {

        mfMSD = mf-msd*0.00005;

        positiveMF();

        calcMonCost();

        //MSD payment calculation

        totalMSDPmt = Math.ceil(monPmtTax/25)*25*msd;

    }

    moCostTxt.text("$" + (Math.round(monPmt)).toLocaleString());
    moCostTaxTxt.text("$"+ (Math.round(monPmtTax)).toLocaleString());
    msdMFTxt.text((mfMSD).toFixed(5));
    $("#do_moCost").text("$"+ (Math.round(monPmtTax)).toLocaleString());



    //APR
    //original MF
    var apr = mf*2400;
    $("#apr").text(Math.round(apr*100)/100);

    //new MF
    var newApr = mfMSD*2400;
    $("#newApr").text(Math.round(newApr*100)/100);




    //Downpayment
    $("#do_dp").text("$"+ Math.round(dp).toLocaleString());

    //tax on incentives and downpayments
    $("#do_taxIncDp").text("$"+ Math.round(taxCapRedFee).toLocaleString());

    //doc and registration fee
    $("#do_doc").text("$"+ (docRegFee).toLocaleString());

    //Total MSD Payment
    $("#msd_span").text("$"+ (totalMSDPmt).toLocaleString());

    //driveoff calculation
    if ($("#gm_onePay").is(':checked')) {
        moCostTxt.text("$0");
        moCostTaxTxt.text("$0");
        driveoff = monPmt*mo + taxLeasePmt + docRegFee;

        $("#do_totalTax_label").show();
        $("#do_totalTax").text("$"+ (Math.round(taxLeasePmt)).toLocaleString());
        $("#do_acq").text("$"+ (parseFloat(acqFee.val())).toLocaleString());
        $("#gm_onepay_label").show();
        $("#gm_onepay").text("$"+ (Math.round(monPmt*mo).toLocaleString()));
        $("#do_moCost_label").hide();
        $("#do_dp_label").hide();
        $("#do_taxIncDp_label").hide();
        $("#do_acq_label").hide();

        totalLeaseCost = driveoff - regFee + parseFloat(dispVal.val()) - rebate;

    } else {
        if (acqFeeCheck.is(':checked')){
//            driveoffCalc();
            driveoff = driveoff + parseFloat(acqFee.val())*(1+salesTaxN);

            $("#do_acq_label").show();
            $("#do_acq").text("$"+ (parseFloat(acqFee.val())).toLocaleString());

        } else {

            // driveoffCalc();
            $("#do_acq_label").hide();
        }
        totalLeaseCost = driveoff - regFee + monPmtTax*(mo-1) + parseFloat(dispVal.val()) - rebate;
        $("#gm_onepay_label").hide();
    }

    driveOffTxt.text("$" + (Math.round(driveoff)).toLocaleString());

    //Total Lease Cost (does not include regFee because it changes every year)
    $("#totalLeaseCost").text("$"+  (Math.round(totalLeaseCost)).toLocaleString());



    console.log(mfMSD);
    console.log("ncc " + netCapCost);
    console.log("deprFee " + deprFee);
    console.log("finFee " + finFee);
    console.log("acqFee " + acqFee.val());
    console.log("driveoff " + driveoff);
    console.log("dp " + dp);
    console.log("resP in calculate() = " + resP);

    //LH Score
    var lhScore = (msrp/((monPmt*mo + dp + parseFloat(dispVal.val()) - rebate)/mo))/12;
    console.log("msrp: "+msrp);
    console.log("monPmt: "+monPmt);
    console.log("mo: "+mo);

    $("#lh_score").text(
        Math.round(lhScore*10)/10 + " years"
    );



    //Show miles underneath the residual field
    var milesSelect = parseFloat($("#miles option:selected").val());
    $("#exp_miles").text(milesSelect.toLocaleString());

	//NaN

    if (moCostTxt.text() == "$NaN"){
        moCostTxt.text("Missing Data");
    }
    if (moCostTaxTxt.text() == "$NaN"){
        moCostTaxTxt.text("Missing Data");
	}
    if (driveOffTxt.text() == "$NaN"){
    	driveOffTxt.text("Missing Data");
    }
    if ($("#lh_score").text() == "NaN years"){
        $("#lh_score").text("Missing Data");
    }
    if ($("#totalLeaseCost").text() == "$NaN"){
        $("#totalLeaseCost").text("Missing Data");
    }
}


//Define tooltipExe()
function tooltipExe () {
    $('[data-toggle="tooltip"]').tooltip();
}


//Remove function
/*function rmVal(){
	$('.rmVal').each(function(){
        console.log("this value: " + $(this).val());
        var newVal = $(this).val();
        $(this).focus(function(){
            if($(this).val() == defaultVal){
                $(this).val("");
            }

        });
    	$(this).blur(function(){
        	if($(this).val().length===0){
            	$(this).val(defaultVal);
            	calculate();
            }
        });
    });
}*/
</script>
