    .calc_container{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    .left_col{
      max-width: 350px;
    }

    .right_col{
      max-width: 350px;
      margin-left: 30px;
      padding:10px;
    }

    @media screen and (max-width:400px){
        .right_col{
            margin-left:0px !important;
        }
        .lease_calc input, option{
            max-width: 100px !important;
        }
        select{
            max-width: 130px!important;
        }
        .exp_text{
        }
    }
    @media screen and (max-width:320px){
        .lease_calc label{
            display: block!important;
            width:100%!important;
        }
        .left_col label br{
            display: none !important;
        }
        .right_col{
            margin-left:0px !important;
        }
        .result label{
            display: block !important;
            width:100% !important;
        }
        .lease_calc input, option, select{
            max-width: 90% !important;
        }
        .exp_text{
            margin-left: 0px!important;
        }
        .new_mf, .exp_text_center{
            width:100%!important;
        }
    }
    input[type=tel], input[type=number]{
        -webkit-border-radius: 0px!important;
        -webkit-box-shadow: none!important;
    }

    input:focus{
        outline: none;
        border-bottom: 2.5px solid #ffe95e !important;
    }


    .lease_calc .item_div{
        padding: 10px;
        font-family: "hind", "proxima-nova", helvetica neue;
        font-size: inherit;
    }

    .unit{
        font-family: "futura", "proxima-nova", helvetica neue;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
    }
    .lease_calc input, select, option{
        padding:8px 10px;
        font-size: 14px;
        border-style: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
        color: inherit;
        vertical-align: middle;
        text-align: center;
        max-width:150px;
        font-family: "futura", "proxima-nova", helvetica neue;
    }

    select{
        width: 160px;
        -webkit-appearance: menulist;
        outline-color: #ffe95e;
    }

    .lease_calc label{
        display: inline-block;
        width: 130px;
        line-height: 20px;
        vertical-align: middle;
        font-family: "futura-medium", "proxima-nova", helvetica neue;
    }
    .exp_text{
        margin-top: 5px;
        margin-left: 130px;
        padding-left: 10px;
        padding-top: 5px;
        font-size:13px!important;
        line-height: 18px!important;
        font-family: "hind",sans-serif;
        color:dimgray;
    }
    .driveoff{
        margin-left: 0px;
    }
    .new_mf{
        font-family: "futura", "proxima-nova", helvetica neue;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        width:50%;
    }
    .label_space{
        display: inline-block;
        width: 130px;
    }
    .exp_text_center{
        display: inline-block;
        text-align: center;
        width: 50%;
        font-size:13px!important;
        line-height: 14px!important;
        color: dimgray;
    }
    .acq-dropdown{
        margin-bottom: 0px;
    }
    .highlight{
        background-color: #FFFF00;
    }
    .hide{
        display: none;
    }


    .calc_divider{
        background-color: #2d2d2d;
        height: 2px;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .section_div{
        margin-top: 10px;
        padding: 10px;
        font-family: "futura", "proxima-nova", helvetica neue;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: .4em;
    }



    .result{
      background-color: #ECECEC;
      border-radius: 2px;
      padding: 15px;
    }
     .bold_figure{
        font-weight: bold;
        display: inline-block;
        padding: 0px 5px;
        font-family:"futura-medium", "proxima-nova", helvetica neue;
    }
    .memo{
        margin-top: 15px;
    }

    textarea{
        padding:8px 10px;
        font-size: 14px;
        border-radius: 2px;
        border: 1px solid #ccc;
        color: inherit;
        vertical-align: top;
        display: inline-block;
        width: 95%;
        margin-top: 10px;
        font-family: "hind",sans-serif;
    }

    textarea:focus {
        outline-color: #f2d254;
        -webkit-appearance: none!important;

    }

    .link{
        display: block;
        margin: 10px auto;
    }
    .button{
        display: block;
        font-family:"futura-medium", "proxima-nova", helvetica neue;
        background-color: #26A65B;
        color: #fcfcfc;
        font-size: 12px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        margin: 10px auto;
    }

    .link_btn_text{
        text-align: center;
        font-size:13px!important;
        line-height: 14px!important;
        font-family: "hind",sans-serif;
        color:dimgray;
    }

    /*tooltip CSS*/
    .tooltip-inner{
        text-align:left!important;
        white-space:pre-wrap!important;
    }
    .tooltip {
      position: absolute;
      z-index: 1070;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.4;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    .tooltip.in {
      filter: alpha(opacity=90);
      opacity: .9;
    }
    .tooltip.top {
      padding: 5px 0;
      margin-top: -3px;
    }
    .tooltip.right {
      padding: 0 5px;
      margin-left: 3px;
    }
    .tooltip.bottom {
      padding: 5px 0;
      margin-top: 3px;
    }
    .tooltip.left {
      padding: 0 5px;
      margin-left: -3px;
    }
    .tooltip-inner {
      max-width: 200px;
      padding: 3px 8px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      background-color: #000;
      border-radius: 4px;
    }
    .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .tooltip.top .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000;
    }
    .tooltip.top-left .tooltip-arrow {
      right: 5px;
      bottom: 0;
      margin-bottom: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000;
    }
    .tooltip.top-right .tooltip-arrow {
      bottom: 0;
      left: 5px;
      margin-bottom: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000;
    }
    .tooltip.right .tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: #000;
    }
    .tooltip.left .tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: #000;
    }
    .tooltip.bottom .tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #000;
    }
    .tooltip.bottom-left .tooltip-arrow {
      top: 0;
      right: 5px;
      margin-top: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #000;
    }
    .tooltip.bottom-right .tooltip-arrow {
      top: 0;
      left: 5px;
      margin-top: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #000;
    }
