h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #1972a4 !important;
  margin-bottom: 1rem;
}

button {
  color: #73f7dd;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

