<h2 mat-dialog-title>Edit Vehicle</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="edit_form" (ngSubmit)="editVehicle(edit_form.value)">
        <mat-form-field>
          <mat-label>Vehicle VIN</mat-label>
         <input matInput type="text" placeholder="Enter Vehicle VIN" formControlName="vehVin">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Year</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Year" formControlName="vehYear">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Make</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Make" formControlName="vehMake">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Model</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Model" formControlName="vehModel">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Color</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Color" formControlName="vehColor">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Condition</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Condition" formControlName="vehCondition">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Detail</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Detail" formControlName="vehDetail">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Price</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Price" formControlName="vehPrice">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Image</mat-label>
          <input matInput type="text" placeholder="Enter Vehicle Image" formControlName="vehImage">
        </mat-form-field>
      </form>
</mat-dialog-content>
<!-- <mat-label>Vehicle VIN</mat-label>
<p class="vehicleVIN">{{ vehicleDvin }}</p>
 -->
<mat-dialog-actions align="end">
    <button mat-raised-button  color="accent">EDIT</button>
    <button mat-raised-button mat-dialog-close color="primary">CANCEL</button>
    <button mat-raised-button (click)="onDelete(this.data.id)">DELETE</button>
</mat-dialog-actions>
<!-- [routerLink]="['/edit', vehicle.id]" -->
