<mat-dialog-content class="mat-typography">
  <h2 *ngIf="edit" mat-dialog-title>Edit Part</h2>
<form [formGroup]="edit_part" *ngIf="edit">
  <h6 style="color: red" *ngIf="(edit_part.invalid)">This disappears when Part Form inputs valid!</h6>
  <mat-form-field color="accent">
    <mat-label>Part ID</mat-label>
   <input matInput type="text" formControlName="partID" class="uppercase" required maxlength="30">
   <mat-error>{{getGENErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Part Name</mat-label>
    <input matInput type="text" formControlName="partName" required maxlength="25">
    <mat-error>{{getGENErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Part Price</mat-label>
    <input matInput type="text" formControlName="partPrice">
    <mat-error>{{getPRICEErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Part Quantity</mat-label>
    <input matInput type="text" formControlName="partQuantity"required minlength="1" required maxlength="4">
    <mat-error>{{getQUANTITYErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Part Compatibility</mat-label>
    <input matInput type="text" formControlName="partCompatibility" required maxlength="25">
    <mat-error>{{getGENErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Part Description</mat-label>
    <input matInput type="text" formControlName="partDescription" required maxlength="25">
    <mat-error>{{getGENErrorMessage()}}</mat-error>
  </mat-form-field>
  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
  </div>
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && edit_part.get('partImage').valid">
    <img [src]="imagePreview" [alt]="edit_part.value.partName">
  </div>
</form>
<!-- ============================================================================================== -->
<form *ngIf="!edit">
  <div class="flex-container">
    <div align="center">
      <h6>{{ this.data.partName }}</h6>
        <div class="image-preview">
          <img [src]="this.data.partImage">
        </div>
    </div>
    <div>
      <h1 mat-dialog-title>{{ this.data.partName }} {{ this.data.partCompatibility }}</h1>
    </div>
  </div>
  <div class="flex-container">
    <h6>Part ID</h6>
    <p >{{ this.data.partID | uppercase}}</p>
  </div>
    <div class="flex-container">
    <h6>Part Price</h6>
    <p >{{ this.data.partPrice | currency }}</p>
  </div>
  <div class="flex-container">
    <h6>Part Description</h6>
    <p >{{ this.data.partDescription }}</p>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions *ngIf="edit" align="end">
<button mat-raised-button color="accent" type="submit" [disabled]="edit_part.invalid" (click)="saveEditedPart()">SAVE</button>
<button mat-raised-button color="warn" (click)="onDelete(this.data.id)">DELETE</button>
<button mat-raised-button  (click)="unSetEdit()" color="primary">CANCEL</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="!edit" align="end">
<button mat-raised-button color="accent" (click)="setEdit()">EDIT</button>
<button mat-raised-button mat-dialog-close color="primary">CANCEL</button>
</mat-dialog-actions>
<!-- [routerLink]="['/edit', vehicle.id]" -->

