<h2 mat-dialog-title>Add Customer</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="customerform" (ngSubmit)="saveCustomer()" #addCustomerForm="ngForm">
    <mat-form-field color="accent">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="Enter First Name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Enter Last Name" formControlName="lastName">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" placeholder="Enter Phone Number" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Enter Email" formControlName="emailAddress">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [disabled]="!addCustomerForm.form.valid"
    (click)="addCustomerForm.ngSubmit.emit()" mat-dialog-close>ADD CUSTOMER</button>
  <button mat-raised-button mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
