<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Vehicle Inventory Upload</h2>
  <h6 style="color: red" *ngIf="(vehicleform.invalid)">This disappears when Vehicle Form inputs valid!</h6>
  <form [formGroup]="vehicleform" >
    <mat-form-field color="accent">
      <mat-label>Vehicle VIN</mat-label>
      <input matInput type="text" class="uppercase" formControlName="vehVin" required minlength="17" required maxlength="17" required pattern="[A-Za-z0-9]*">
      <mat-error>{{getVINErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Year</mat-label>
      <input matInput type="text" formControlName="vehYear" required minlength="4" required maxlength="4">
      <mat-error>{{getYEARErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Make</mat-label>
      <input matInput type="text" formControlName="vehMake" required maxlength="25">
      <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Model</mat-label>
      <input matInput type = "text" formControlName="vehModel" required maxlength="25">
      <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Vehicle Color</mat-label>
        <input matInput type = "text" formControlName="vehColor" required maxlength="25">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
        <h6>Vehicle Condition</h6>
        <mat-select formControlName="vehCondition">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let carState of carStates" [value]="carState">{{carState}}</mat-option>
        </mat-select>
        <mat-error>{{getGENErrorMessage()}}</mat-error>
        </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Detail</mat-label>
      <input matInput type = "text" formControlName="vehDetail" required maxlength="50">
      <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Miles</mat-label>
      <input matInput type = "text" formControlName="vehMiles" type="number">
      <mat-error>{{getMILEAGEErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Vehicle Price</mat-label>
        <input matInput type = "text" formControlName="vehPrice">
        <mat-error>{{getPRICEErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
          <h6 style="color: red" *ngIf="(vehicleform.get('vehImage').invalid)">PLEASE CHOOSE AN IMAGE!</h6>
          <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && vehicleform.get('vehImage').valid">
        <img [src]="imagePreview" [alt]="vehicleform.value.vehModel">
      </div>
       </form>
   </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close color="accent" type="submit" [disabled]="vehicleform.invalid" (click)="saveVehicle()">UPLOAD VEHICLE</button>
  <button mat-raised-button color="primary" mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
