h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #1972a4 !important;
  margin-bottom: 1rem;
}

button {
  color: #73f7dd;
  background-color: grey;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
