<mat-dialog-content class="mat-typography">
  <h1 mat-dialog-title>Vehicle Inventory Upload</h1>
  <form [formGroup]="vehicleform" >
    <mat-form-field color="accent">
      <mat-label>Vehicle VIN</mat-label>
      <input matInput type="text" formControlName="vehVin">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Year</mat-label>
      <input matInput type="text" formControlName="vehYear">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Make</mat-label>
      <input matInput type="text" formControlName="vehMake">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Model</mat-label>
      <input matInput type = "text" formControlName="vehModel">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Color</mat-label>
        <input matInput type = "text" formControlName="vehColor">
    </mat-form-field>
    <mat-form-field color="accent">
        <h6>Vehicle Condition</h6>
        <mat-select formControlName="vehCondition">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let carState of carStates" [value]="carState">{{carState}}</mat-option>
        </mat-select>
        </mat-form-field>
    <mat-form-field>
      <mat-label>Vehicle Detail</mat-label>
      <input matInput type = "text" formControlName="vehDetail">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Price</mat-label>
        <input matInput type = "text" formControlName="vehPrice">
      </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
            <input type="file" #filePicker (change)="onImagePicked($event)" formControlName="vehImage">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && vehicleform.get('vehImage').valid">
          <img [src]="imagePreview" [alt]="vehicleform.value.vehModel">
        </div>
       </form>
   </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" type="submit" (click)="saveVehicle()">
    UPLOAD VEHICLE
  </button>
  <button mat-raised-button mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
