<h2 mat-dialog-title>Vehicle Inventory Upload</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="vehicleform" (ngSubmit)="saveVehicle()">
    <mat-form-field color="accent">
      <mat-label>Vehicle VIN</mat-label>
      <input matInput type="text" formControlName="vehVin" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Year</mat-label>
      <input matInput type="text" formControlName="vehYear" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Make</mat-label>
      <input matInput type="text" formControlName="vehMake" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Vehicle Model</mat-label>
      <input matInput type = "text" formControlName="vehModel">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Color</mat-label>
        <input matInput type = "text" formControlName="vehColor">
      </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Condition</mat-label>
        <input matInput type = "text" formControlName="vehCondition">
      </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Detail</mat-label>
        <input matInput type = "text" formControlName="vehDetail">
      </mat-form-field>
    <mat-form-field>
        <mat-label>Vehicle Price</mat-label>
        <input matInput type = "text" formControlName="vehPrice">
      </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && vehicleform.get('image').valid">
          <img [src]="imagePreview" [alt]="vehicleform.value.vehModel">
        </div>
        <input matInput type = "text" formControlName="vehImage">
       </form>
   </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" type="submit" [disabled]="!vehicleform.valid">
    UPLOAD VEHICLE
  </button>
  <button mat-raised-button mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
