<!--
<div class="container-fluid">
  <div class="row align-items-center justify-bottom-center">

    <div class="footer">
      <mat-divider></mat-divider>
      <div class="row align-left justify-bottom-center-left">
          <img [routerLink]="['/home']" routerLinkActive="mat-accent-bold" class="float-right" src="../../assets/images/logo_transparent.png">
      </div>
      <div class="row justify-content-center align-items-center">
      <h4>THE USE OF THIS APPLICATION IS BLAH BLAH BLAH</h4>
      </div>
    </div>
  </div>
</div>
-->

<!-- <div class="footer container-lg width-full px-3" role="contentinfo">
    <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
      <ul class="list-style-none d-flex flex-wrap ">
        <li class="mr-3">© 2019 <span title="0.74602s from unicorn-7f867dc7b9-2kkpj">iDealCars</span>, Inc.</li>
          <li><a data-ga-click="Footer, go to help, text:help" href="https://youtu.be/2Z1sigNHYO4">About iDealCars</a></li>
          <li><a data-ga-click="Footer, go to about, text:about" href="https://www.linkedin.com/in/sagar-patadia-5850b7b4/">Sagar Patadia</a></li>
          <li class="mr-3"><a data-ga-click="Footer, go to contact, text:contact" href="https://www.linkedin.com/in/niraj-patel-35125a183/">Niraj Patel</a></li>
      </ul>
      <img class="float-center" src="../../assets/images/logo_transparent.png">
     <ul class="list-style-none d-flex flex-wrap ">
          <li><a data-ga-click="Footer, go to about, text:about" href="https://www.linkedin.com/in/stanley-sierputowski-08a1a8170/">Stanley Sierputowski</a></li>
          <li><a data-ga-click="Footer, go to about, text:about" href="https://www.linkedin.com/in/jerrod-mathis-608589150/">Jerrod Mathis</a></li>
          <li><a data-ga-click="Footer, go to about, text:about" href="https://www.linkedin.com/in/eric-davies-42aa72177/">Eric Davies</a></li>
      </ul>
    </div>
  </div> -->

  <!--___________________________________________________________________________________________________________________________-->

  <div class="container-fluid">
  <div class="row align-items-center justify-content-center">
      <div class="col-2 p-0"><p></p></div>
    <div class="col-8">
      <mat-divider></mat-divider>
      <div class="row justify-content-center align-items-center">
      <a button data-ga-click="Footer, go to help, text:help" href="https://youtu.be/2Z1sigNHYO4">About iDealCars</a>
      <a button data-ga-click="Footer, go to help, text:help" href="https://www.linkedin.com/in/sagar-patadia-5850b7b4/">Sagar Patadia</a>
      <a button data-ga-click="Footer, go to help, text:help" href="https://www.linkedin.com/in/niraj-patel-35125a183/">Niraj Patel</a>
        <img src="../../assets/images/logo_transparent.png">
        <a button data-ga-click="Footer, go to help, text:help" href="https://www.linkedin.com/in/stanley-sierputowski-08a1a8170/">Stanley Sierputowski</a>
        <a button data-ga-click="Footer, go to help, text:help" href="https://www.linkedin.com/in/jerrod-mathis-608589150/">Jerrod Mathis</a>
        <a button data-ga-click="Footer, go to help, text:help" href="https://www.linkedin.com/in/eric-davies-42aa72177/">Eric Davies</a>
      </div>
      </div>
    <div class="col-2"><p></p></div>
  </div>
</div>

