<h2 mat-dialog-title>Part Upload</h2>
<mat-dialog-content class="mat-typography">
  <h6 style="color: red" *ngIf="(partform.invalid)">Part Form inputs missing or invalid!</h6>
  <form [formGroup]="partform" ><!-- Part Entry Form -->
    <mat-form-field color="accent">
      <mat-label>Part ID</mat-label>
      <input matInput type="text" formControlName="partID" class="uppercase" required maxlength="30">
      <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="partName" required maxlength="25">
      <mat-error>{{getGENErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Part Price</mat-label>
      <input matInput type="text" formControlName="partPrice">
      <mat-error>{{getPRICEErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Part Quantity</mat-label>
      <input matInput type = "text" formControlName="partQuantity"required minlength="1" required maxlength="4">
      <mat-error>{{getQUANTITYErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Part Compatibility</mat-label>
        <input matInput type = "text" formControlName="partCompatibility" required maxlength="25">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Part Description</mat-label>
        <input matInput type = "text" formControlName="partDescription" required maxlength="50">
        <mat-error>{{getGENErrorMessage()}}</mat-error>
      </mat-form-field>
        <div>
          <h6 style="color: red" *ngIf="(partform.get('partImage').invalid)">PLEASE CHOOSE AN IMAGE!</h6>
          <button mat-stroked-button type="button" (click)="filePicker.click()">PICK IMAGE</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && partform.get('partImage').valid">
          <img [src]="imagePreview" [alt]="partform.value.partName">
        </div>
       </form>
   </mat-dialog-content>
<mat-dialog-actions align="end"><!-- Buttons for this dialog, display and function according to conditions in Button -->
  <button mat-raised-button color="accent" type="submit" [disabled]="partform.invalid" (click)="savePart()">UPLOAD PART</button>
  <button mat-raised-button color="primary" mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
