<app-header></app-header>
<div class="d-flex flex-row w-100 h-75 margin-bottom: 100%">
  <span class="border border-light rounded shadow-lg ml-2 mr-2">
    <div class="h-100 d-inlineblock" style="width: 15rem;">
      <div class="p-2 bg-dark rounded align-items-start text-white h-100">
        <form [formGroup]="form" (submit)="saveVehicle()" *ngIf="!checked">
        <div class = "form-group">
          <label>Vehicle VIN</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle VIN" formControlName="vinId">
        </div>
        <div class = "form-group">
          <label>Vehicle Price</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle Price" formControlName="price">
        </div>
        <div class = "form-group">
          <label>Vehicle Year</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle Year" formControlName="year">
        </div>
        <div class = "form-group">
            <label>Vehicle Make</label>
            <input type = "text" class = "form-control" placeholder = "Enter Vehicle Make" formControlName="make">
          </div>
        <div class = "form-group">
            <label>Vehicle Model</label>
            <input type = "text" class = "form-control" placeholder = "Enter Vehicle Model" formControlName="vehicleModel">
          </div>
        <div class = "form-group">
            <label>Vehicle Color</label>
            <input type = "text" class = "form-control" placeholder = "Enter Vehicle Color" formControlName="carColor">
          </div>
        <div class = "form-group">
            <label>Vehicle Options</label>
            <input type = "text" class = "form-control" placeholder = "Enter Vehicle Options" formControlName="optionsDescription">
          </div>
        <span class="m-2">
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" ng-model="checked" ng-init="checked=true">Search Parts Instead
              </label>
          </div>
        </span>
        <div>
            <button type = "submit"  class="btn btn-outline-info btn-block" style="color: white">Add to Inventory</button>
        </div>
        </form>
        <form [formGroup]="form" (submit)="savePart()" *ngIf="checked">
            <div class = "form-group">
              <label>Part ID</label>
              <input type = "text" class = "form-control" placeholder = "Enter Part ID" formControlName="partId">
            </div>
            <div class = "form-group">
              <label>Part Name</label>
              <input type = "text" class = "form-control" placeholder = "Enter Part Name" formControlName="name">
            </div>
            <div class = "form-group">
                <label>Part Description</label>
                <input type = "text" class = "form-control" placeholder = "Enter Part Description" formControlName="description">
              </div>
            <div class = "form-group">
                <label>Part Price</label>
                <input type = "text" class = "form-control" placeholder = "Enter Part Price" formControlName="price">
              </div>
            <div>
                <button type = "submit"  class="btn btn-outline-info btn-block" style="color: white">Add to Inventory</button>
            </div>
            </form>
      </div>
    </div>
  </span>
  <span class="border border-light rounded shadow-lg" style="overflow: auto; width: 100%;">
    <div class="p-2 bg-light flex-grow-1">
          <div class="card border-light rounded shadow-lg">
              <div class="card-body border-light rounded shadow-lg">
                  <h2 style = "text-align: center;">
                  Inventory
                  </h2>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="col-md-12 col-offset-md-1">
                        <div class="table-responsive table-size">
                          <mat-spinner *ngIf="!checked"></mat-spinner>
                          <table class="table" *ngIf="!checked">
                            <thead>
                              <tr  *ngIf="!checked">
                                <th>Vehicle VIN</th>
                                <th>Price</th>
                                <th>Year</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Color</th>
                                <th>Options</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let vehicle of vehicles">
                              <td>{{vehicle.vinId}}</td>
                              <td>{{vehicle.price}}</td>
                              <td>{{vehicle.year}}</td>
                              <td>{{vehicle.make}}</td>
                              <td>{{vehicle.vehicleModel}}</td>
                              <td>{{vehicle.carColor}}</td>
                              <td>{{vehicle.optionsDescription}}</td>
                            </tr>
                          </tbody>
                          </table>
                           <table class="table" *ngIf="checked">
                            <thead>
                              <tr  *ngIf="checked">
                                <th>Part ID</th>
                                <th>Part Name</th>
                                <th>Description</th>
                                <th>Price</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let part of parts">
                              <td>{{part.partId}}</td>
                              <td>{{part.name}}</td>
                              <td>{{part.description}}</td>
                              <td>{{part.price}}</td>
                            </tr>
                          </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
          </div>
          </div>
  </span>
</div>
