main {
  font-size: 14px !important;
}

table {
  width: 100%;
  background: #1972a4;
}

th {
  font-weight: bold;
  font-size: 1.4rem;
}

.max-width {
  max-width: 25rem;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.inventory-container {
  height: 50rem;
  overflow: auto;
}

.vehicleSelect {
  cursor: pointer;
}

.vehicleSelect:hover {
  color: #73f7dd;
  text-decoration: underline;
}
