<app-header></app-header>
<div class="d-flex flex-row w-100 h-75 margin-bottom: 100%">
  <span class="border border-light rounded shadow-lg ml-2 mr-2">
    <div class="h-100 d-inlineblock" style="width: 15rem;">
      <div class="p-2 bg-dark rounded align-items-start text-white h-100">
        <div class = "form-group">
          <label>Vehicle Year</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle Year" ng-model = "newContacts.carYear">
        </div>
        <div class = "form-group">
          <label>Vehicle Make</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle Make" ng-model = "newContacts.carMake">
        </div>
        <div class = "form-group">
          <label>Vehicle Model</label>
          <input type = "text" class = "form-control" placeholder = "Enter Vehicle Model" ng-model = "newContacts.carModel">
        </div>
        <span class="m-2">
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"> Display All
              </label>
          </div>
        </span>
        <div>
            <button type = "submit"  class="btn btn-outline-info btn-block" style="color: white">Search</button>
        </div>

      </div>
    </div>
  </span>
  <span class="border border-light rounded shadow-lg" style="overflow: auto; width: 100%;">
    <div class="p-2 bg-light flex-grow-1">
      <mat-accordion multi ="true"  >
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            Mercedes 2017 C-Class Coupe
          </mat-expansion-panel-header>
          <p>4 door, leather interior, sunroof, comfort package</p>
          <mat-action-row>
              <button mat-button color="primary">EDIT LISTING</button>
              <button mat-button color="secondary">MARK AS SOLD</button>

            </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <p class="info-text mat-body-1" >Nothing added yet!</p>

      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </div>
  </span>
</div>
