main {
  font-size: 14px !important;
}

table {
  width: 100%;
  background: lightgrey;
}

th {
  font-weight: bold;
  font-size: 1.4rem;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-width {
  max-width: 5rem;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.records-container {
  height: 50rem;
  overflow: auto;
}

.customerSelect {
  cursor: pointer;
}

.customerSelect:hover {
  color: #73f7dd;
  text-decoration: underline;
}
