<app-header></app-header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 search-container">
        <mat-form-field color="accent">
          <mat-label>Customer Name</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Customer Name">
        </mat-form-field>
        <button mat-raised-button color="accent">Filter</button>
        <p></p>
        <button mat-raised-button color="accent" (click)="openDialogEntry()">Add Customer</button>
      </div>
      <div class="col-10 records-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="overflow: auto; width: 100%;">
          <!-- Customer Name Column -->
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td class="customerSelect" mat-cell *matCellDef="let element">
              {{ element.lastName }}, {{ element.firstName }}
            </td>
          </ng-container>
          <!-- Customer Email Column -->
          <ng-container matColumnDef="customerEmail">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.emailAddress }}</td>
          </ng-container>
          <!-- Customer Phone Column -->
          <ng-container matColumnDef="customerPhone">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</main>

<!-- TESTTTTTT-->
<!-- <main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 search-container">
        <button mat-raised-button color="accent" (click)="openDialogEntry()">Add Customer</button>
      </div>
      <div class="col-10 inventory-container">
        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="overflow: auto; width: 100%;">
          <ng-container matColumnDef="customerId">
            <th mat-header-cell *matHeaderCellDef>VIN</th>
            <td class="vehicleSelect" mat-cell *matCellDef="let element" (click)="print(element.customerId)">{{ element.customerId }}</td>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Make</th>
            <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>Model</th>
            <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</main> -->



<!--
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 search-container">
        <mat-form-field color="accent">
          <mat-label>Customer Name</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Customer Name">
        </mat-form-field>
        <button mat-raised-button color="accent">Filter</button>
        <p></p>
        <button mat-raised-button color="accent" (click)="openDialogEntry()">Add Customer</button>
      </div>
      <div class="col-10 records-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td class="customerSelect" mat-cell *matCellDef="let element" (click)="print(element.customerId)">
              {{ element.lastName }}, {{ element.firstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customerEmail">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="customerPhone">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="vehicleYear">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let vehicle of element.vehicleInfo">
                <span>{{ vehicle.vehicleYear }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="vehicleMake">
            <th mat-header-cell *matHeaderCellDef>Make</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let vehicle of element.vehicleInfo">
                <span>{{ vehicle.vehicleMake }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="vehicleModel">
            <th mat-header-cell *matHeaderCellDef>Model</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let vehicle of element.vehicleInfo">
                <span>{{ vehicle.vehicleModel }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="vehicleColor">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let vehicle of element.vehicleInfo">
                <span>{{ vehicle.vehicleColor }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="customerRecords">
            <th class="max-width" mat-header-cell *matHeaderCellDef>Service Records</th>
            <td class="max-width" mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary">SHOW</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openCustEdit(row)"></tr>
        </table>
      </div>
    </div>
  </div>
</main>
-->
