/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
=======

body {
    background-color: #1972A4;
}
>>>>>>> dc4f46a4e8f944a8220a999375bfa125b66ac888
html, body {
  height: 100% !important;
  font-size: 10px !important;
}

body {
  background: #ffffff !important;
}
