/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD

body {
    background-color: #1972A4;
}
=======
>>>>>>> 022dacae17f912784c57aa2ce7410d319b912fb8
html, body {
  height: 100% !important;
  font-size: 10px !important;
}

body {
  background: #ffffff !important;
}
