/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD

=======
>>>>>>> 7e25e4b8197ede4771db12f502f16181494013fc
html, body {
  height: 100% !important;
  font-size: 10px !important;
}

body {
  background: #ffffff !important;
}
