<div class="wrapper">
  <div id="logo">
    <img src="https://image.ibb.co/mBbskq/logo.png">
  </div>

  <form ng-submit="formSubmit()" class="form">
    <div id="loginForm" class="container" style="padding-left:30%;">
      <div id="inputUser" class="row-full"  style="padding-top:8%;">
        <input id="inputUser" type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
      </div> 

      <div id="inputPass">
        <input id="inputPass" type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
      </div>

      <div class="form-group" id="inputPass">
        <button type="submit" class="btn btn-success" style="color:#53C8C9">Login</button>
        <span class="text-danger" style="color:red">{{ error }}</span>
      </div>

    </div>
  </form>
</div>