#login {
    float: left;
    width: 100%;
    height: 90%;
}

.wrapper { 
    border : 2px solid #000; 
    overflow:hidden;
    height: 100vh;
}

#loginForm {
    overflow:hidden;
    margin:10px;
    min-height:170px;
}

#pic {
    height: 70vh;
    width: 70vh;
    padding-left: 10vh;
    padding-top: 18vh;
}

#logo {
    float:left; 
    margin-right:20px;
    margin: auto;
}

#inputUser {
    width: 75%;
    height: 50%;
    padding-bottom: 1%;
    margin: auto;
}

#inputPass {
    width: 75%;
    height: 50%;
    padding-bottom: 1%;
    margin: auto;
}