main {
  font-size: 14px !important;
}

span {
  color: #1972a4;
}

h1 {
  color: #1972a4;
}

#userInfo {
  text-align: center;
}

#userImage {
  height: 15rem;
  width: 15rem;
  border-radius: 10rem;
  margin-bottom: 2rem;
}
