main {
  font-size: 14px !important;
}

#userInfo {
  text-align: center;
}

#userImage {
  height: 15rem;
  width: 15rem;
  border-radius: 10rem;
  margin-bottom: 2rem;
}

#time-clock {
  margin-top: 35px;
}

button {
  margin-top: 5rem;
}
