<app-header></app-header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" id="userInfo">
        <img src="{{ userImg }}" id="userImage">
        <div class="w-100"></div>
        <span>{{ firstName }} {{ lastName }}</span>
        <div class="w-100"></div>
        <span>{{ email }}</span>
        <div class="w-100"></div>
        <span>{{ jobRole }}</span>
        <div class="w-100"></div>
        <button mat-raised-button color="accent" (click)="openActionsDialog()">MANAGER ACTIONS</button>
      </div>
      <div class="col-6">
        <h1>Message Board</h1>
        <hr>
      </div>
      <div class="col-3">
        This is where the clock-in/out feature will reside. A user will also be able to see their current weekly schedule.
      </div>
    </div>
  </div>
</main>
