<app-header></app-header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" id="userInfo">
        <img src="{{ userImg }}" id="userImage">
        <div class="w-100"></div>
        <span>{{ userFirstName }} {{ userLastName }}</span>
        <div class="w-100"></div>
        <span>{{ userEmail }}</span>
        <div class="w-100"></div>
        <span>{{ userJobRole }}</span>
        <div class="w-100"></div>
        <button mat-raised-button color="accent" (click)="openActionsDialog()" *ngIf="userJobRole === 'MANAGER'">MANAGER ACTIONS</button>
      </div>
      <div class="col-6">
        <app-message-board></app-message-board>
      </div>
      <div class="col-3">
        <app-time-clock></app-time-clock>
      </div>
    </div>
  </div>
</main> 
