<app-header></app-header>
<div>
  <h2 align="center"><u>About Us</u></h2>
  <br>
  <h4 align="center">
    iDealCars is an all-in-one car dealership web application that will allow the dealer to access all of their information and tools in one app. <br>
    The application will be able to manage employees, car and parts inventory, and keep track of service records for the vehicles. <br>
    The employee accessibility will be through an admin user such as a manager, the car salesman, and the mechanic. <br>
    The application will be able to keep track of the employees’ time on the clock and notify them by email of any service reminders. <br>
    We plan on using the MEAN Stack with the Mongo Database as our framework for the application.<br>
  </h4>
</div>
<div>
  <h2 align="center"><u>Features of iDealCars</u></h2>
</div>
<div class="col-12 p-4" id="video" align="center">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/NL6JTxxPg80"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
