<app-header></app-header>

<div class = "bodyPage">


  <!-- NAVIGATION COMPONENT -->
  <div class = "navBox">
   NAVIGATION

 </div>


<!-- SCHEDULE COMPONENT -->
 <div class = "scheduleBox">
   SCHEDULE
   <form action="" style="position: fixed; left: 270px;">
      Week Of:<br>
      <input type="date" id="start" name="trip-start" value="11-13-2018" min="01-01-2018" max="12-31-2099">
    </form>
    <table style = "position: fixed; left: 270px; top: 230px;">
      <tr>
        <th>
          DAYS
        </th>
        <th>
          TIME SCHEDULED
        </th>
        <th>
          TIME IN
        </th>
        <th>
          TIME OUT
        </th>
        <th>
          HOURS
        </th>
      </tr>
      <tr>
        <td>SUNDAY</td> <td> <input type="text" type="time"> <input type="text" type="time"> </td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>MONDAY</td> <td> <input type="text"  type="time"> <input type="text" type="time"></td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>TUESDAY</td> <td> <input type="text"  type="time"> <input type="text" type="time"> </td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>WEDNESDAY</td> <td> <input type="text"  type="time"> <input type="text" type="time"> </td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>THURSDAY</td> <td> <input type="text"  type="time"> <input type="text" type="time"> </td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>FRIDAY</td> <td> <input type="text"  type="time">  <input type="text" type="time"></td> <td> </td> <td> </td> <td> </td>
      </tr>
      <tr>
        <td>SATURDAY</td> <td> <input type="text"  type="time">  <input type="text" type="time"> </td> <td> </td> <td> </td> <td> </td>
      </tr>
    </table>
 </div>
 <br>


 <!-- NOTES COMPONENT -->
 <div class="notesBox">
   NOTES
   <form>
    <textarea type="text"  class="scrollText" name="Add a note" style="position: fixed; left: 270px;"> </textarea>
    <input color="accent" type="submit" value="Submit" style="position: fixed; right: 270px; bottom: 18px">
   </form>
 </div>
 <br>


 <!-- TIME CLOCK COMPONENT -->
 <div class = "timeClockBox">
  TIME CLOCK
  <button mat-raised-button color="accent" style = "top: 140px;">
    Clock In/Out
  </button>
 </div>
 <br>


 <!-- TIME OFF COMPONENT -->
 <div class = "timeOffBox">
  TIME OFF

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
 </div>
</div>

