<app-header></app-header>

<div class = "bodyPage">


  <!-- NAVIGATION COMPONENT -->
  <div class = "navBox">
   <Legend>NAVIGATION</Legend>
 </div>


<!-- SCHEDULE COMPONENT -->
 <div class = "scheduleBox">
  <Legend>SCHEDULE</Legend>
   <app-schedule></app-schedule>
 </div>
 <br>


 <!-- NOTES COMPONENT -->
 <div class="notesBox">
  <Legend>NOTES</Legend>
   <form>
    <textarea type="text"  class="scrollText" name="Add a note" style="position: fixed; left: 270px;"> </textarea>
    <input color="accent" type="submit" value="Submit" style="position: fixed; right: 270px; bottom: 18px">
   </form>
 </div>
 <br>


 <!-- TIME CLOCK COMPONENT -->
 <div class = "timeClockBox">
  <Legend>TIME CLOCK</Legend>
  <button mat-raised-button color="accent" style = "top: 140px;">
    Clock In/Out
  </button>
 </div>
 <br>


 <!-- TIME OFF COMPONENT -->
 <div class = "timeOffBox">
  <Legend>TIME OFF</Legend>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
 </div>
</div>

