mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background: none;
  margin: auto;
}

button {
  width: 75%;
  font-size: 2rem;
  margin: 2rem 0;
}

table {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
