<div class = "d-flex flex-row justify-content-between align-items-center p-3">
  <img border = "0" src="../../assets/images/logo_transparent.png" style="height: 15rem; width: 15rem;" align="left">
  <div class = "d-flex flex-column align-items-center">
    <h1>
     Company Name
    </h1>
    <span>
      <a href = "#">Home</a> | <a href ="#">Inventory</a> | <a href = "#">Time Clock</a>
    </span>
  </div>
  <button mat-raised-button color="accent">
    LOGOUT
  </button>
</div>

<div class = "bodyPage">
 <div class = "navBox">
   NAVIGATION
 </div>
 <div class = "scheduleBox">
   SCHEDULE
   <form action="" style="position: fixed; left: 270px;">
      Date:<br>
      <input type="date" id="start" name="trip-start" value="11-13-2018" min="01-01-2018" max="12-31-2099">
    </form>
    <table style = "position: fixed; left: 270px; top: 230px;">
      <tr>
        <th>
          DAYS
        </th>
        <th>
          TIME SCHEDULED
        </th>
        <th>
          TIME IN
        </th>
        <th>
          TIME OUT
        </th>
      </tr>
      <tr>

      </tr>
    </table>
 </div>
 <br>
 <div class="notesBox">
   NOTES
 </div>
 <br>
 <div class = "timeClockBox">
  TIME CLOCK
  <button mat-raised-button color="accent" style = "top: 140px;">
    Clock In/Out
  </button>
 </div>
 <br>
 <div class = "timeOffBox">
  TIME OFF
 </div>
</div>

