main {
  background: #FFFFFF !important;
}

form {
  width: 100%;
}

/* .logoutButton {
  position: fixed;
  right: 25px;
  top: 20px;
}

.bodyPage {
  margin: auto;
  width: max-content;
  overflow: hidden;
}
.navBox {
height: 63.5vh;
width: 35vh;
position: fixed;
left: 10px;
top: 170px;
border: solid 2px #1972a4;
overflow: hidden;
}

.scheduleBox {
  height: 41vh;
  width: 129vh;
  position: fixed;
  left: 258px;
  top: 170px;
  border: solid 2px #1972a4;
}

.notesBox {
  height: 30vh;
  width: 129vh;
  position: fixed;
  left: 258px;
  top: 450px;
  border: solid 2px #1972a4;
}

.scrollText {
  height: 150px;
  width: 825.5px;
  overflow: scroll;
}

.timeClockBox {
  height: 30vh;
  width: 35vh;
  position: fixed;
  right: 10px;
  top: 170px;
  border: solid 2px #1972a4
}

.timeOffBox {
  height: 35vh;
  width: 35vh;
  position: fixed;
  right: 10px;
  top: 390px;
  border: solid 2px #1972a4
}

.panel {
border: 1px #fff;
margin: 0 auto;
max-width: 95%;
font-size: 5pt !important;
} */
