main {
  height: 100%;
  width: 100%;
  background: #1972a4 !important;
}

img {
  width: 50rem;
  height: 50rem;
}

form {
  width: 100%;
  font-size: 1.5rem;
}

input {
  color: #73f7dd;
}

a {
  color: white;
  font-size: 1rem;
  margin-top: .5rem;
}
