<form action="" style="position: fixed; left: 270px; border: 1px #1972a4">
  Week Of:<br>
  <input type="date" id="start" name="trip-start" value="11-13-2018" min="01-01-2018" max="12-31-2099">
</form>
<table >
  <tr>
    <th>
      DAYS
    </th>
    <th>
      TIME SCHEDULED
    </th>
    <th>
      TIME IN
    </th>
    <th>
      TIME OUT
    </th>
    <th>
      HOURS
    </th>
  </tr>
  <tr>
    <td>SUNDAY</td> <td> <input type="text" type="time" name="time in"> <input type="text" type="time" name="time out"> </td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>MONDAY</td> <td> <input type="text"  type="time" name="time in"> <input type="text" type="time" name="time out"></td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>TUESDAY</td> <td> <input type="text"  type="time" name="time in"> <input type="text" type="time" name="time out"> </td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>WEDNESDAY</td> <td> <input type="text"  type="time" name="time in"> <input type="text" type="time" name="time out"> </td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>THURSDAY</td> <td> <input type="text"  type="time" name="time in"> <input type="text" type="time" name="time out"> </td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>FRIDAY</td> <td> <input type="text"  type="time" name="time in">  <input type="text" type="time" name="time out"></td> <td> </td> <td> </td> <td> </td>
  </tr>
  <tr>
    <td>SATURDAY</td> <td> <input type="text"  type="time" name="time in">  <input type="text" type="time" name="time out"> </td> <td> </td> <td> </td> <td> </td>
  </tr>
</table>
