.header {
  color: #1972a4;
  height: 7rem;
  width: 100%;
  position: top;
}
/* mat-toolbar, img{
  height: 100%;
  width: 100%;
} */

.logo {
  height:100%;
  max-height:7rem;
  width:100%;
  max-width: 7rem;
  padding-left: 0%;
  position: left;
}
